.header {
  height: 5rem;
  padding: 1.2rem;

  background: rgb(108, 23, 118);
  background: linear-gradient(
    90deg,
    rgba(108, 23, 118, 1) 25%,
    rgba(131, 28, 116, 1) 65%,
    rgba(158, 35, 113, 1) 100%
  );
  img {
    display: block;
    height: 2.5rem;
  }
}
